<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <p><strong>Welcome</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <div class="col-6">
          <ul class="row list-unstyled">
            <% for(post of posts) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= post._id%>">
                <img class="img-fluid" src="<%=post.image%>" />
              </a>
            </li>
            <% } %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/">Return to Feed</a>
            <a class="btn btn-primary" href="/account/createPost"
              >Create Post</a
            >
          </div>
        </div>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
