<%- include('partials/header') -%>

<div class="container main">
  <div class="row">
    <h2 class="text-center pt-4 text-peach"><%=animal.name%></h2>
    <div class="col-5">
      <img class="img-fluid pb-3" src="<%=animal.image%>" />

      <div class="d-flex gap-2 col-6 mx-auto pb-3">
        <!-- to appear only btn  -->
        <% if(animal.forAdoption === 'Yes'){ %>
        <button type="button" class="btn-sm btn btn-info text-light">
          Adopt me
        </button>

        <% } %> <% if(animal.forFoster === 'Yes'){ %>
        <button type="button" class="btn-sm btn btn-info text-light">
          Foster me
        </button>
        <% } %>
        <!-- end of btn -->
      </div>
      <!-- end div pic -->
    </div>

    <div class="col-6">
      <ul class="lh-sm lh-lg fs-5 row list-unstyled pt-5 text-light">
        <li>Age: <%=animal.age%></li>
        <li>Type: <%=animal.type%></li>
        <li>Special Needs: <%=animal.specialNeeds%></li>
        <li>Location: <%=animal.location%></li>
        <li>Posted date: <%=animal.postDate.toLocaleString()%></li>
        <li>Posted by: <%=animal.createdByName%></li>
      </ul>
      <!-- start rating -->
      <form
        action="/account/review"
        enctype="multipart/form-data"
        method="POST"
      >
        <div class="rate text-light text">
          <h5>Rate the user</h5>

          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>

          <!-- end form rating -->

          <!-- end div rate -->
        </div>
        <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
      </form>
    </div>
    <!-- end of div row -->
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="card col p-2 mb-2 auto main">
        <div class="card-body">
          <h3 class="text-peach">Description:</h3>
          <p class="lead lh-base text-light"><%=animal.description%></p>
        </div>
        <!-- end div description -->
      </div>

      <div class="card col p-2 mb-2 auto main">
        <div class="card-body">
          <h3 class="text-peach">Likes:</h3>
          <p class="lead lh-base text-light"><%=animal.likes%></p>
          <h3 class="text-peach">Dislikes:</h3>
          <p class="lh-base text-light"><%=animal.dislikes%></p>
        </div>

        <!-- end div likes -->
      </div>
    </div>
  </div>
  <% if(user.id === animal.userId){%>
  <form
    action="/account/deletePost/<%= animal.id %>?_method=DELETE"
    method="POST"
    class="col-3"
  >
    <button class="btn btn-danger btn-sm text-light" type="submit">
      Delete
    </button>
  </form>

  <button class="btn btn-powder btn-sm text-light" type="submit">
    <a href="/account/editPost/<%= animal.id %>" class="col-3">Edit </a>
  </button>
  <%}%>
  <!-- end of div container -->
</div>

<%- include('partials/footer') -%>
