<%- include('partials/header') -%>

<div class="container main">
  <div class="row">
    <h2 class="text-center pt-4 text-peach"><%=animal.name%></h2>

    <!-- start of first section -->
    <div class="col-5">
      <img class="img-fluid pb-3" src="<%=animal.image%>" />

      <div class="d-flex gap-2 col-6 mx-auto pb-3">
        <!-- to appear only btn that has "Yes"  -->
        <% if(animal.forAdoption === 'Yes'){ %>
        <button type="button" class="btn-sm btn btn-info text-light">
          Adopt me
        </button>

        <% } %> <% if(animal.forFoster === 'Yes'){ %>
        <button type="button" class="btn-sm btn btn-info text-light">
          Foster me
        </button>
        <% } %>
        <!-- end of btn -->
      </div>

      <!-- end div pic -->
    </div>

    <!-- start of info section -->
    <div class="col-6">
      <ul class="lh-sm lh-lg fs-5 row list-unstyled pt-5 text-powder fw-bold">
        <li>Age: <%=animal.age%></li>
        <li>Type: <%=animal.type%></li>
        <li>Special Needs: <%=animal.specialNeeds%></li>
        <li>Location: <%=animal.location%></li>
        <li>Posted date: <%=animal.postDate.toLocaleString()%></li>
        <li>Posted by:  <a href="/user/<%=animal.userId%>"> <%=animal.createdByName%><a></li>
      </ul>

      <!-- end of info section -->
    </div>

    <!-- end of first section -->
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <!-- start of description card -->
      <div class="card col p-2 mb-2 auto main">
        <div class="card-body">
          <h3 class="text-peach">Description:</h3>
          <p class="lead lh-base text-powder fw-bold"><%=animal.description%></p>
        </div>
        <!-- end of description card -->
      </div>

      <!-- start of likes & dislikes box -->
      <div class="card col p-2 mb-2 auto main">
        <div class="card-body">
          <h3 class="text-peach">Likes:</h3>
          <p class="lead lh-base text-powder fw-bold"><%=animal.likes%></p>
          <h3 class="text-peach">Dislikes:</h3>
          <p class="lead lh-base text-powder fw-bold"><%=animal.dislikes%></p>
        </div>

        <!-- end of likes & dislikes card -->
      </div>

      <!-- end of row -->
    </div>

    <!-- end of second section -->
  </div>
 
  <!-- start of delete & edit btn -->
  <div class="d-flex gap-2 col-6 mx-auto pb-3 justify-content-center">

  <!-- if the logged user === the user that created the post show the delete and edit btn -->
  <% if(user.id == animal.userId){%>

    <!-- start of btn edit -->
  <button class="btn btn-minty btn-sm text-light px-4" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
    <a href="/animal/editPost/<%=animal.id%>" class="text-decoration-none text-light"><i class="bi bi-pencil"></i> </a>
  </button>

    <!-- start of delete btn -->
  <form
    action="/animal/deleteAnimal/<%=animal.id%>?_method=DELETE"
    method="POST"
    class="col-3"
  >
    <button class="btn btn-danger btn-sm text-light px-4" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
      <i class="bi bi-trash"></i>
    </button>
  </form>
  
    
 
  <%}%>

  <!-- end of delete & edit btn -->
</div>

  <!-- end of div main container -->
</div>

<%- include('partials/footer') -%>
