<%- include('partials/header') -%>
<div class="container main">
  <div class="col-lg-10 col-md-12 mx-auto">
    <div class="row">
      <h2 class="text-center p-4">Pets Updates & Photos</h2>
      <!-- title div -->
    </div>
    <div class="row pb-2 text-powder">
      This page is dedicated to showcasing the wonderful pets that have been
      adopted into loving homes. Whether you have a cute and cuddly kitten, a
      playful and energetic dog, or a exotic and mysterious reptile, we want to
      see them! Feel free to post about your pets' daily activities, health
      updates, and accomplishments, as well as share adorable photos of them.
      This is a great place to connect with other pet owners who have adopted
      their pets, share tips and advice, and show off your furry (or scaly, or
      feathered) friends.
    </div>

    <div class="d-flex justify-content-center mt-3 mb-5">
      <button type="button" class="btn btn-outline-powder btn-lg fw-semibold">
        <a
          href="/animalUpdates/createAnimalUpdates"
          class="text-decoration-none text-light"
          >Create Update Post
        </a>
      </button>

      <!-- end of update btn -->
    </div>

    <!-- end of div post -->
  </div>

  <!-- start of posts -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-2">
      <!-- loop through all the updates and show the posts -->
      <!-- to give an identifier for each post so the accordion triggers only one update per time -->
      <% let counter = 1 %> <%for(pet of pets) {%>
      <div class="col">
        <div class="card text-bg-powder h-60">
          <img src="<%=pet.image%>" class="card-img-top" alt="image of a pet" />
          <div class="card-body">
            <h5 class="card-title text-center"><%=pet.name%></h5>

            <!-- Start of accordion -->
            <div class="accordion" id="accordionExample">
              <!-- first item -->
              <div class="accordion-item text-bg-lightPowder">
                <h2 class="accordion-header" id="headingOne<%=counter%>">
                  <button
                    class="accordion-button collapsed text-bg-lightPowder fw-bold text-light"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne<%=counter%>"
                    aria-expanded="true"
                    aria-controls="collapseOne<%=counter%>"
                  >
                    Updates
                  </button>
                </h2>
                <div
                  id="collapseOne<%=counter%>"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne<%=counter%>"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body"><%=pet.updates%></div>
                </div>
                <!-- end of first item -->
              </div>
              <!-- second item -->
              <div class="accordion-item text-bg-lightPowder">
                <h2 class="accordion-header" id="headingTwo<%=counter%>">
                  <button
                    class="accordion-button collapsed text-bg-lightPowder fw-bold text-light"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo<%=counter%>"
                    aria-expanded="false"
                    aria-controls="collapseTwo<%=counter%>"
                  >
                    Struggles
                  </button>
                </h2>
                <div
                  id="collapseTwo<%=counter%>"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo<%=counter%>"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body"><%=pet.struggles%></div>
                </div>
                <!-- end of second item -->
              </div>

              <!-- Edit&Delete btn -->
              <!-- start of delete & edit btn -->
              <div
                class="d-flex gap-4 col-6 mx-auto p-2 justify-content-center"
              >
                <!-- if the logged user === the user that created the post show the delete and edit btn -->
                <%if(user){%>
                <% if(user.id == pet.userId){%>

                  <!-- start of btn edit -->
                <button
                class="btn btn-minty btn-sm text-light px-4"
                type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
              >
                <a
                  href="/animalUpdates/editUpdates/<%=pet.id%>"
                  class="text-decoration-none text-light"
                  ><i class="bi bi-pencil"></i>
                </a>
              </button>

                <!-- start of delete btn -->
                <form
                  action="/animalUpdates/deleteUpdates/<%=pet.id%>?_method=DELETE"
                  method="POST"
                  class="col-3"
                >
                  <button
                    class="btn btn-danger btn-sm text-light px-4"
                    type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                  >
                  <i class="bi bi-trash"></i>
                  </button>
                </form>
                <%}%>
                <%}%>
                <!-- end of btn -->
              </div>
              <!-- end of accordion -->
          </div>
              <!-- end of div card body -->
            </div>
            <div class="card-footer">
              <ul class="list-unstyled">
                <li class="d-inline-block mx-4">
                  <small>
                    Adopted by: <strong><%=pet.adoptedByName%></strong></small
                  >
                </li>
                <li class="d-inline-block mx-2">
                  <small>
                    On date: <%=pet.takeAwayDate.toLocaleString()%></small
                  >
                </li>
              </ul>
            </div>
            <!-- end of card -->
          </div>
        </div>
        <% counter++ %> <% } %>

        <!-- end of posts col -->
      </div>

      <!-- end of posts -->
    </div>

    <!-- end of main container -->
  </div>

  <%- include('partials/footer') -%>
</div>
