<%- include('partials/header') -%>

<div class="container">
  <div class="py-5 text center container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light text-center">About site</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eligendi
          eum natus suscipit magni nam. Eligendi minus ipsa illo, labore modi,
          quas suscipit adipisci tenetur ab, numquam eveniet exercitationem
          fugit.
        </p>

        <!-- Filter start -->
      <div class="container text-center">
        <h2 class="text-muted">Filter</h2>
        <div class="row align-items-start">
        <form action="/filter?_method=GET" method="POST">
          
          <select  class="col text-muted" name="type" id="type" required>
            <option value="">Type</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="cow">Cow</option>
            <option value="horse">Horse</option>
            <option value="goat">Goat</option>
            <option value="pig">Pig</option>
            <option value="others">Othe</option>
          </select>
      
         
          <select  class="col text-muted" name="forAdoption" id="forAdoption" required>
            <option value="">For Adoption</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
    

          <select  class="col text-muted" name="forFoster" id="forFoster" required>
            <option value="">For Foster</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
  
          <!-- <select class="col text-muted" name="location" id="location" required>
            <option value="">Location</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="cow">Cow</option>
            <option value="horse">Horoption>
            <option value="goat">Goat</option>
            <option value="pig">Pig</option>

          </select> -->

          <button type="submit" class="btn btn-outline-info btn-md">Submit</button>
        </form>
        <!-- end of row of filter dropdowns -->
      </div>
        <!-- end of filter -->
      </div>
        
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of about -->
  </div>

  <!-- post start -->
  <div class="post py-5 bg-light">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(post of feed) {%>
          <a href="/feed/<%=post._id%>" class="text-decoration-none"> 
        <div class="col">
          
          <div class="card shadow-sm">
              
              <img src="<%=post.image%>" class="card-img-top" width="100%" height="auto" />
              
              <div>
                <p class="card-text">
                  <ul class="row list-unstyled ps-4">
                    <li class="text-muted">Name: <%=post.name%></li>
                    <li class="text-muted">Type: <%=post.type%></li>
                    <li class="text-muted">Age: <%=post.age%></li>
                    <li class="text-muted">Description: <%=post.description%></li>
                    <li class="text-muted">For Adoption: <%=post.forAdoption%> </li>
                    <li class="text-muted">For Foster: <%=post.forFoster%></li>
                    <li><small class="text-muted">Date: <%=post.postDate.toLocaleString()%></small></li>
                  </ul>
                </p>
                
                <!-- end of div card-body -->
              </div>
              <!-- end of div card -->
            
          </div>
          
          <!-- end of div col -->
        </div>
      </a>
        <% } %>
        <!-- end of div row -->
      </div>
      <!-- end of div container -->
    </div>
    <!-- end of div post -->
  </div>

  <div>
    <button>
      <a href="/account/createPost" class="text-decoration-none"
        >Create Post
      </a>
    </button>
  </div>
</div>

<%- include('partials/footer') -%>
