<%- include('partials/header') -%>

<div class="container">
  <div class="py-5 text center container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-light text-center">About site</h1>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eligendi
          eum natus suscipit magni nam. Eligendi minus ipsa illo, labore modi,
          quas suscipit adipisci tenetur ab, numquam eveniet exercitationem
          fugit.
        </p>

        <!-- Filter start -->

        <h3 class="text-center">Filter</h3>
        <div class="btn-group d-flex gap-2" role="group" aria-label="button group">
          <div class="btn-group sm-text" role="group">
            <button
              type="button"
              class="btn btn-outline-dark btn-sm dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Type
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dog</a></li>
              <li><a class="dropdown-item" href="#">Cat</a></li>
              <li><a class="dropdown-item" href="#">Cow</a></li>
              <li><a class="dropdown-item" href="#">Horse</a></li>
              <li><a class="dropdown-item" href="#">Goat</a></li>
              <li><a class="dropdown-item" href="#">Pig</a></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Age
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> < 1 year</a></li>
              <li><a class="dropdown-item" href="#">1-5 years</a></li>
              <li><a class="dropdown-item" href="#">5-10 years</a></li>
              <li><a class="dropdown-item" href="#">10-15 years</a></li>
              <li><a class="dropdown-item" href="#"> >15 years</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-outline-dark">For Adoption</button>
          <button type="button" class="btn btn-outline-dark">For Foster</button>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              By User
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">User 1</a></li>
              <li><a class="dropdown-item" href="#">User 2</a></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Location
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Location 1</a></li>
              <li><a class="dropdown-item" href="#">Location 2</a></li>
            </ul>
          </div>
          <!-- End of filter -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of about -->
  </div>

  <!-- post start -->
  <div class="post py-5 bg-light">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(post of feed) {%>
          <a href="/feed/<%=post._id%>" class="text-decoration-none"> 
        <div class="col">
          
          <div class="card shadow-sm">
              
              <img src="<%=post.image%>" class="card-img-top" width="100%" height="auto" />
              
              <div>
                <p class="card-text">
                  <ul class="row list-unstyled ps-4">
                    <li class="text-muted">Name: <%=post.name%></li>
                    <li class="text-muted">Type: <%=post.type%></li>
                    <li class="text-muted">Age: <%=post.age%></li>
                    <li class="text-muted">Description: <%=post.description%></li>
                    <li class="text-muted">For Adoption: <%=post.forAdoption%> </li>
                    <li class="text-muted">For Foster: <%=post.forFoster%></li>
                    <li><small class="text-muted">Date: <%=post.postDate.toLocaleString()%></small></li>
                  </ul>
                </p>
                
                <!-- end of div card-body -->
              </div>
              <!-- end of div card -->
            
          </div>
          
          <!-- end of div col -->
        </div>
      </a>
        <% } %>
        <!-- end of div row -->
      </div>
      <!-- end of div container -->
    </div>
    <!-- end of div post -->
  </div>

  <div>
    <button>
      <a href="/account/createPost" class="text-decoration-none"
        >Create Post
      </a>
    </button>
  </div>
</div>

<%- include('partials/footer') -%>
