<%- include('partials/header') -%>

<div class="container main">
  <div class="py-5 text center container">
    <div class="row about">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="text-center text-powder fw-bold">About site</h1>
        <p class="lead text-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eligendi
          eum natus suscipit magni nam. Eligendi minus ipsa illo, labore modi,
          quas suscipit adipisci tenetur ab, numquam eveniet exercitationem
          fugit.
        </p>

        <!-- Filter start -->
      <div class="container text-center">
        <h2 class="text-powder">Filter</h2>
        <div class="row align-items-start">
        <form action="/filter?_method=GET" method="POST">
          
          <select  class="col text-minty" name="type" id="type" required>
            <option value="">Type</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="cow">Cow</option>
            <option value="horse">Horse</option>
            <option value="goat">Goat</option>
            <option value="pig">Pig</option>
            <option value="others">Othe</option>
          </select>
      
         
          <select  class="col text-minty" name="forAdoption" id="forAdoption" required>
            <option value="">For Adoption</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
    

          <select  class="col text-minty" name="forFoster" id="forFoster" required>
            <option value="">For Foster</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>

          <!-- start of location -->
              <select class="col text-minty" name="location" list="datalistOptions" id="location">
              <datalist  id="datalistOptions">
                <option value="">--Please choose your county--</option>
                <option value="Alba">Alba</option>
                <option value="Arad">Arad</option>
                <option value="Arges">Arges</option>
                <option value="Bacau">Bacau</option>
                <option value="Bihor">Bihor</option>
                <option value="Bistrita-Nasaud">Bistrita-Nasaud</option>
                <option value="Botosani">Botosani</option>
                <option value="Brasov">Brasov</option>
                <option value="Braila">Braila</option>
                <option value="Bucuresti">Bucuresti</option>
                <option value="Buzau">Buzau</option>
                <option value="Calarasi">Calarasi</option>
                <option value="Caras - Severin">Caras - Severin</option>
                <option value="Cluj">Cluj</option>
                <option value="Constanta">Constanta</option>
                <option value="Covasna">Covasna</option>
                <option value="Dambovita">Dambovita</option>
                <option value="Dolj">Dolj</option>
                <option value="Galati">Galati</option>
                <option value="Giurgiu">Giurgiu</option>
                <option value="Gorj">Gorj</option>
                <option value="Harghita">Harghita</option>
                <option value="Hunedoara">Hunedoara</option>
                <option value="Ialomita">Ialomita</option>
                <option value="Iasi">Iasi</option>
                <option value="Ilfov">Ilfov</option>
                <option value="Maramures">Maramures</option>
                <option value="Mehedinti">Mehedinti</option>
                <option value="Mures">Mures</option>
                <option value="Neamt">Neamt</option>
                <option value="Olt">Olt</option>
                <option value="Prahova">Prahova</option>
                <option value="Salaj">Salaj</option>
                <option value="Satu Mare">Satu Mare</option>
                <option value="Sibiu">Sibiu</option>
                <option value="Suceava">Suceava</option>
                <option value="Teleorman">Teleorman</option>
                <option value="Timis">Timis</option>
                <option value="Tulcea">Tulcea</option>
                <option value="Valcea">Valcea</option>
                <option value="Vaslui">Vaslui</option>
                <option value="Vrancea">Vrancea</option>
              </datalist>
              </select>
              <!-- end of location -->

          <button type="submit" class="btn btn-outline-minty btn-md text-powder fw-semibold">Submit</button>
        </form>
        <!-- end of row of filter dropdowns -->
      </div>
        <!-- end of filter -->
      </div>
        
        <!-- end of col -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of about -->
  </div>

  <!-- post start -->
  <div class="post py-5">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for(post of feed) {%>
          <a href="/animal/<%=post._id%>" class="text-decoration-none"> 
        <div class="col">
          
          <div class="card shadow-sm">
              
              <img src="<%=post.image%>" class="card-img-top" width="100%" height="auto" />
              
              <div>
                <p class="card-text">
                  <ul class="row list-unstyled ps-4">
                    <li class="text-greyblue">Name: <%=post.name%></li>
                    <li class="text-greyblue">Type: <%=post.type%></li>
                    <li class="text-greyblue">Age: <%=post.age%></li>
                    <li class="text-greyblue">Description: <%=post.description%></li>
                    <li class="text-greyblue">Created by: <%=post.createdByName%></li>
                    <li class="text-greyblue">For Adoption: <%=post.forAdoption%> </li>
                    <li class="text-greyblue">For Foster: <%=post.forFoster%></li>
                    <li class="text-greyblue">Location: <%=post.location%></li>
                    <li><small class="text-greyblue">Date: <%=post.postDate.toLocaleString()%></small></li>
                  </ul>
                </p>
                
                <!-- end of div card-body -->
              </div>
              <!-- end of div card -->
            
          </div>
          
          <!-- end of div col -->
        </div>
      </a>
        <% } %>
        <!-- end of div row -->
      </div>
      <!-- end of div container -->
    </div>
    
     
    <!-- end of div post -->
  </div>
  <div class="d-flex justify-content-center">
       
    <button type="button" class="btn btn-outline-minty btn-lg fw-semibold">
      <a href="/account/createPost" class="text-decoration-none  text-powder"
        >Create Post
      </a>
    </button>
  
  </div>
  
</div>

<%- include('partials/footer') -%>
