<%- include('partials/header') -%>
<div class="container main">
  <div class="row">
   <!-- start profile box -->
    <div class="col-7 mx-auto pt-5">
      <div class="card pt-5" style="background-image:url(/imgs/back2.png)" >
        <div class="card-img-top row" alt="...">
          <img class="rounded d-block img-fluid " id="avatar" src="https://avatars.dicebear.com/api/big-smile/:seed.png" >
        </div>
        
        <div class="card-body text-center">
          <h5 class="card-title text-peach"></strong> <%= userProfile.userName %>'s profile</h5>
          <p class="card-text">
            <ul class="list-unstyled text-light">
            <li><strong>Email</strong>: <%= userProfile.email %></li>
            <li><strong>Role</strong>: <%= userProfile.role %></li>
            <li><strong>Adorable</strong>: <%= userProfile.rating %></li>
            <li><strong>Reported</strong>: <%= userProfile.reported %></li>

            <!-- start adorable section -->
            <li>Adorable?
              <% if (userProfile.ratedUsers.includes(user.id) || userProfile.id == user.id) { %>
                <button class="btn" type="submit" disabled>
                  <i class="fas fa-paw"></i>
                </button>
                <p>You have already given an <i class="fas fa-paw"></i> or you can not <i class="fas fa-paw"></i> yourself!</p>
              <% } else { %>
                <form action="/user/adorable/<%=userProfile._id%>?_method=PUT" method="POST">
                  <button class="btn" type="submit">
                    <i class="fas fa-paw"></i>
                  </button>
                </form>
              <% } %>
            </li>
            
            
            <!-- start reported section -->
              <li>Report user:
              <% if (userProfile.reportedUsers.includes(user.id) || userProfile.id == user.id) { %>
                <button class="btn" type="submit" disabled>
                  <i class="fas fa-frown"></i>
                </button>
                <p>You have already given an <i class="fas fa-frown"></i> or you can not <i class="fas fa-frown"></i> yourself!</p>
              <% } else { %>
                <form
                action="/user/reported/<%= userProfile.id %>?_method=PUT"
                method="POST"
              >
                  <button class="btn" type="submit">
                    <i class="fas fa-frown"></i>
                  </button>
                </form>
              <% } %>
            </li>
              </form>
              <!-- end reported form -->

              <!-- appears only if the conditionals are true -->
          <div class=" d-flex justify-content-center w-auto">
          <% if (userProfile.reported > 100) { %>
            <div class="alert alert-danger" role="alert">
                User has many reports!
              </div>
              <% } else if(userProfile.rating > 10){ %> 
                <div class="alert alert-success" role="alert">
                  User has many positive votes!
                </div> 
                <% } %>
            </div>
            <!-- end of info -->
          </ul>
        </p>
        
        
          
        <!-- end card body -->
        
        <!-- end card-->
      </div>
        <!-- end div profile box-->
    </div>

    <!-- user posts starts -->
      <h2 class="text-center pt-4 text-powder"><%=userProfile.userName%>'s posts</h2>
      <div class="col-5 section-bg">
        <ul class="row list-unstyled text-center" >
          <!-- display all the posts from the user -->
          <% for(post of posts) {%>
          <div class="col-6 justify-content-between mt-5">
            <a href="/animal/<%=post._id%>" class="text-decoration-none">
              <img class="img-fluid" src="<%=post.image%>" />
              <ul class="list-unstyled link-secondary text-light">
                <li><strong>Name</strong>: <%= post.name %></li>
                <li><strong>Posted on</strong>: <%= post.postDate.toLocaleString() %></li>
              </ul>
            </a>
          </div>
          <% } %>
        </ul>
        <!-- end div user posts -->
      </div>

      <!-- end div row -->
    </div>
    <!-- end div container -->
  </div>
 <!-- end div container -->
<%- include('partials/footer') -%>
