<%- include('partials/header') -%>
<div class="container main">
  <div class="row">
    <!-- start div for page buttons -->
    <div class="col-7 mx-auto pt-5">

      <!-- start profile page -->
      <div class="card pt-5" style="background-image:url(/imgs/back2.png)" >
        <div class="card-img-top row" alt="...">
          <img class="rounded d-block img-fluid " id="avatar" src="https://avatars.dicebear.com/api/big-smile/:seed.png" >
        </div>
        
        <div class="card-body text-center">
          <h5 class="card-title text-peach"></strong> <%= user.userName %>'s profile</h5>
          <p class="card-text">
            <ul class="list-unstyled text-light">
            <li><strong>Email</strong>: <%= user.email %></li>
            <li><strong>Role</strong>: <%= user.role %></li>
            <li><strong> Rating</strong>: <%= user.rating %></li>
            <li><strong>Reported</strong>: <%= user.reported %></li>
            <li><!-- start rating -->
              <form
                action="/account/review"
                enctype="multipart/form-data"
                method="POST"
              >
                <div class="rate text-light text">
                  <h5>Rate the user</h5>
        
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
        
                  <!-- end form rating -->
        
                  <!-- end div rate -->
                </div>
                <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
              </form>
            </li>
          </ul>
          
        </p>
        </div>
        
        <!-- end div profile -->
      </div>
    
    </div>

    <!-- my post starts -->
      <h2 class="text-center pt-4 text-powder"><%=user.userName%> posts</h2>
      <div class="col-5 section-bg">
        <ul class="row list-unstyled text-center" >
          <% for(post of posts) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/animal/<%=post._id%>" class="text-decoration-none">
              <img class="img-fluid" src="<%=post.image%>" />
              <ul class="list-unstyled link-secondary text-light">
                <li><strong>Name</strong>: <%= post.name %></li>
                <li><strong>Posted on</strong>: <%= post.postDate.toLocaleString() %></li>
              </ul>
            </a>
           
          </li>
          <% } %>
        </ul>
        <!-- end div my posts -->
      </div>

      <!-- end div row -->
    </div>
    <!-- end div container -->
  </div>
 
</div>
<%- include('partials/footer') -%>
